<div class="container ">
    <div class="row ">
        <div class="text-center">
            <h1>JSONSITE </h1>
            <caption class="text-center alert alert-info">An android app that uses the google volley library to get data about
                site visitors and stores it on the local SQLitedatabase for viewing . </caption>
        </div>
    </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well text-center ">
                    <img class="thumbnail img-responsive text-center" alt="android app"
                         src="app/views/img/androidphn.png" />
                    <p class="text-center">Application  main screen with
                        showing some of the collected information </p>
                    <a href="/app/views/app/JSONSite.apk"  target="_blank" class="btn btn-primary " title="See more">Download</a>
            </div>
        </div>
    </div>
</div>