<div class="container">
    <div class="row">
        <div class="text-center">
            <h1>Spares Tracker Screen Shots and some basic explanation</h1>
            <caption class="text-center alert alert-info">A java based Spares Tracking System that monitors a company's fleet,
                it is used to track individual vehicle spares consumption
                and generates various reports. </caption>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <img class="thumbnail img-responsive" alt="java image"
                         src="app/views/img/javaimages/mainscreen.png" />
                    <p class="text-center">Application  main screen with
                        the various available functions </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <img class="thumbnail img-responsive" alt="java image"
                         src="app/views/img/javaimages/managedrivers.png" />
                    <p class="text-center">The system also captures driver details so as
                        to match then to the truck and parts consumed</p>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <img class="thumbnail img-responsive" alt="java image"
                         src="app/views/img/javaimages/managetrailers.png" />
                    <p class="text-center">The system also captures driver details so as
                        to match then to the truck and parts consumed</p>
                </div>

            </div>
            <div class="col-md-6">
                <div class="well">
                    <img class="thumbnail img-responsive" alt="java image"
                         src="app/views/img/javaimages/managetrucks.png" />
                    <p class="text-center">The system also captures driver details so as
                        to match then to the truck and parts consumed</p>
                </div>

            </div>
            </div>

       </div>
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <img class="thumbnail img-responsive" alt="java image"
                     src="app/views/img/javaimages/truckntrailerincicent.png" />
                <p class="text-center">System captures the details of driver and truck per incident to calculate cost   </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <img class="thumbnail img-responsive" alt="java image"
                     src="app/views/img/javaimages/useparts.png" />
                <p class="text-center">The system also captures driver details so as
                    to match then to the truck and parts consumed</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <img class="thumbnail img-responsive" alt="java image"
                     src="app/views/img/javaimages/alltrucks.png" />
                <p class="text-center">System generates various reports using the jasper library these reports
                can be save in various formarts (.html,.doc,.pdf ...) for more see
                    <a href="http://community.jaspersoft.com/" >JasperReports</a>this allows for the
                    reports to be used easily in presentations</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <img class="thumbnail img-responsive" alt="java image"
                     src="app/views/img/javaimages/truckreport.png" />

            </div>
        </div>
    </div>
    </div>